@import "../../scss/_misc/variables";

.status {
  display: flex;
  justify-content: space-around;
  align-items: center;

  grid-area: status;

  select,
  input {
    color: #ffffff;
    background: none;
    border: none;
  }

  option {
    color: #ffffff;
    background: black;
  }
  option:checked {
    background: #532001;
  }
}

#status__type,
.status__date,
.status__box,
.status__period,
.status__count {
  width: 20%;
  margin: 0 5px;
  padding: 8px 10px;
  box-shadow: inset 0 0 5px black;
}

.status__box {
  position: relative;
}

.status__country {
  width: 100%;
}

.status__list {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1005;
  width: 100%;
  height: 150px;
  padding: 5px;
  overflow-y: scroll;
  list-style-type: none;
  background-color: $color-background-superdark;

  .status__item {
    font-size: rem(16px);
    color: $color-text;
  }

  .status__item:hover {
    background-color: $color-background-light;
    cursor: pointer;
  }
}

.status__list_hide {
  display: none;
}

#status__type {
  &.cases {
    color: $color-cases;
  }
  &.deaths {
    color: $color-deaths;
  }
  &.recovered {
    color: $color-recovered;
  }
}
