@import "../../scss/_misc/variables";

.map {
  grid-area: map;
}

.flag {
  width: 1rem;
}

$blue-grey-100: rgba(0, 0, 255, 0.1);
$blue-grey-900: rgba(186, 179, 255, 0.9);
$red-800: rgba(255, 0, 0, 0.81);

// color for map markers
$cases-grade1: #c6dbef;
$cases-grade2: #9ecae1;
$cases-grade3:#6baed6;
$cases-grade4: #4292c6;
$cases-grade5: #2171b5;
$cases-grade6: #084594;

$deaths-grade1: #fdd49e;
$deaths-grade2: #fdbb84;
$deaths-grade3: #fc8d59;
$deaths-grade4: #ef6548;
$deaths-grade5: #d7301f;
$deaths-grade6: #990000;

$recovered-grade1: #c7e9c0;
$recovered-grade2: #a1d99b;
$recovered-grade3: #74c476;
$recovered-grade4: #41ab5d;
$recovered-grade5: #238b45;
$recovered-grade6: #005a32;

.icon-marker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6em;
  height: 3.6em;
  font-size: 0.7em;
  color: white;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, 0.9);

  &.cases {
    &.grade1 {
      color: #000000;
      background-color: $cases-grade1;
    }

    &.grade2 {
      background-color: $cases-grade2;
    }

    &.grade3 {
      background-color: $cases-grade3;
    }

    &.grade4 {
      background-color: $cases-grade4;
    }

    &.grade5 {
      background-color: $cases-grade5;
    }

    &.grade6 {
      color: #ffffff;
      background-color: $cases-grade6;
    }
  }

  &.deaths {
    color: #000000;

    &.grade1 {
      background-color: $deaths-grade1;
    }

    &.grade2 {
      background-color: $deaths-grade2;
    }

    &.grade3 {
      background-color: $deaths-grade3;
    }

    &.grade4 {
      background-color: $deaths-grade4;
    }

    &.grade5 {
      background-color: $deaths-grade5;
    }

    &.grade6 {
      color: #ffffff;
      background-color: $deaths-grade6;
    }
  }

  &.recovered {
    color: #000000;

    &.grade1 {
      background-color: $recovered-grade1;
    }

    &.grade2 {
      background-color: $recovered-grade2;
    }

    &.grade3 {
      background-color: $recovered-grade3;
    }

    &.grade4 {
      background-color: $recovered-grade4;
    }

    &.grade5 {
      background-color: $recovered-grade5;
    }

    &.grade6 {
      color: #ffffff;
      background-color: $recovered-grade6;
    }
  }

  &:hover {
    .icon-marker-tooltip {
      display: block;
      transform: scale(1);
    }
  }
}

.icon-marker-tooltip {
  position: absolute;
  bottom: 100%;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1.4em;
  color: #000000;
  background-color: #ffffff;
  border-radius: 0.4em;
  box-shadow: 0 3px 5px rgba(black, 0.9);
  transform: scale(0);
  transition: 0.2s;

  &:before {
    content: "";
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    display: block;
    width: 1.4em;
    height: 1.4em;
    margin-left: -0.7em;
    color: #000000;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  ul {
    list-style: none;
  }
}

.marker-tooltips__title {
  display: flex;
  align-items: center;
}

.marker-tooltips__flag {
  width: 2rem;
  height: 1.2rem;
  margin-right: 1rem;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.marker-tooltips__country {
  font-weight: bold;
  font-size: 1.4em;
}

.marker-tooltips__label {
  width: 6em;
  font-weight: bold;
}

.marker-tooltips__list {
  display: flex;
  flex-direction: column;

  & .marker-tooltips__item {
    display: flex;
    order: 1;

    &.cases,
    &.deaths,
    &.recovered {
      order: 0;
      font-size: 1.2em;
      background: #ffffff;
    }

    &.cases {
      color: $color-cases;
    }

    &.deaths {
      color: $color-deaths;
    }

    &.recovered {
      color: green;
    }
  }
}

// LEGEND
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.info h4 {
  margin: 0 0 5px;
  color: #777777;
}

.legend {
  line-height: 18px;
  color: #555555;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.legend__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.legend .icon-marker {
  margin-right: 0.6rem;
}

.legend h3 {
  margin-bottom: 0.4rem;
}

.legend .icon-marker {
  width: 3em;
  height: 3em;
  font-size: 0.7em;
}

.legend .legend__marker {
  width: 1rem;
  height: 1rem;
  border-right: 0;
  box-shadow: none;
}

.legend .legend__label {
  font-size: 0.8rem;
}
